/* Leftside */

.chat-page{
    width: 100%;
    height: 100vh;
    display: flex;
}
.chat-sidebar{
    width: 300px;
    height: 100%;
    background-color: rgb(22, 86, 74);
  /* background-color: rgb(23,113,210); */
    padding: 10px;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.chat-sidebar-options{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 86, 74);
    flex-direction: row;
    margin-top: 20px;
}

.chat-sidebar-options > button{
    outline: none;
    border: none;
    background-color: rgb(22, 86, 74);
    font-size: 16px;
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.new-chat-btn{
    margin-right: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;

} 

.new-chat-btn > svg{
    background-color: rgb(22, 86, 74);
}

.side-bar-close{
    width: 20%;
    background-color: #16564a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
}

.side-bar-close > svg{
    background-color: rgb(22, 86, 74);

}

.side-bar-closed{
    margin-left: -290px;
}


.chat-history{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin: 10px; */
    flex-direction: column;
    margin-top: 30px;
    height: calc(100% - 220px);
    overflow-y: scroll;
}

.chat-history{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.chat-history::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.chat-component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.chat-his-del-btn
{
    display: none;
}

.chat-component:hover{
    background-color: rgb(26, 103, 89);
    cursor: pointer;
}

.chat-component:hover .chat-his-del-btn{
    display: flex;
}




.side-bar-profile-section{
    position: absolute;
    bottom: 0px;
    display: flex;
    left: 0px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    /* background-color: rgb(200, 218, 215); */
    z-index: 10;
    /* height: 165px; */
}

.chat-history-title{
    margin-left: 10px;
    color: white;
    font-weight: 200;
   font-size: 15px;
  
   /* background: linear-gradient(to right, transparent 0%, #fff 100%); */
}

.profile-divider{
    width: 100%;
    height: 0.5px;
    background-color: white;
 
}

.upgrade-pro{
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;

    padding: 10px;
    /* margin-bottom: 10px; */
}


.upgrade-pro:hover{
    background-color: rgb(26, 103, 89);
    cursor: pointer;
    border-radius: 10px;
}

.upgrade-pro > span{
    margin-left: 10px;
}


.side-nav-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    align-items: center;
    font-weight: 300;
    margin-top: 20px;
}

.side-nav-profile > img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.side-nav-profile > span{
    margin-right: 13px;
}

.logout-btn{
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.logout-btn:hover{
    background-color: rgb(26, 103, 89);

}



/* Rightside */

.chat-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.chat-nav{
    display: flex;
    justify-content: flex-start;
}

.side-nav-open-btn{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(22, 86, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 500;
}

.side-nav-open-btn:hover{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(18, 95, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.side-nav-open-btn > svg{
    background-color: rgb(22, 86, 74);

}

.side-nav-open-btn-none{
    display: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(22, 86, 74);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 500;
}

.chat-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.location-status{
    position: absolute;
    right: 0px;
    top: -10px;
    color: rgb(164, 164, 164);
}

.chat-input-cont{
    position: fixed;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
}

.chat-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;
}

.chat-input > textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    padding-right: 50px;
    height: 45px;
    border-radius: 10px;
}

.send-btn{
    position: absolute;
    bottom: 55%;
    transform: translateY(50%);
    right: 20px;
    cursor: pointer;

}

.send-btn-file{
    position: absolute;
    bottom: 40%;
    transform: translateY(50%);
    right: 20px;
    cursor: pointer;

}

.chat-hero{
    /* position: absolute; */
    top: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #cfcfcf;
    opacity: 1;
    transition: all 0.4s;
    display: flex;
    align-items: flex-end;
}

.chat-hero-badge{
    height: 50px;
    transition: all 0.4s;
}

.chat-hero-badge-transition{
    height: 30px;
}

.transition-hide{
    /* font-size: 30px; */
    opacity: 0 !important;
}

.transition-hero{
    font-size: 30px;

}

.msg-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 30px;
   
}

.msg-container{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.msg-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.chat-suggestions{
    width: 750px;
    position: absolute;
    bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    transition: all 0.4s;
}

.chat-suggestion{
    width: 48%;
    padding: 10px;
    border: 0.5px solid black;
    margin: 5px;
    font-weight: 300;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.chat-suggestion-title
{
    font-weight: 500;
}


.file_upload{
    width: 30px;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.file-display{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-display > span{
    margin-right: 10px;
}

@media only screen and (max-width: 1000px)
{
    .chat-sidebar{
        /* margin-left: -290px; */
        position: absolute;
        z-index: 600;
        width: 250px;
    }

    .side-bar-closed{
        margin-left: -290px;
    }

    .side-nav-open-btn{
        /* display: none; */
        padding: 10px;
        border-radius: 50%;
        background-color: rgb(22, 86, 74);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 500;
        position: absolute;
    }

    .side-nav-open-btn-none{
        padding: 10px;
        border-radius: 50%;
        background-color: rgb(22, 86, 74);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
        z-index: 500;
    }
}

@media only screen and (max-width:766px) {
    .chat-input-cont{
        width: 97%;
    }

    .chat-section{
        padding: 10px;
        padding-top: 20px;
    }

    .chat-input{
        width: 97%;
    }

    .chat-suggestions{
        width: 97%;
        bottom: 90px;
    }

    .chat-suggestion{
        width: 99%;
    }

    .chat-hero{
        font-size: 35px;
        margin-top: 30px;
    }

    .location-status{
        font-size: 14px;
        top: 0px;
    }

    .selected-file-name{
        font-size: 14px;
    }

}