.navbar{
    width: 50vw;
    height: 100px;
    display: flex;
    align-items: center;
}


.nav-title{
    color: rgb(23,113,210);
    font-weight: 600;
    font-size: 29px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
}

.nav-logo > img{
    height: 45px;
    width: auto;
}

.beta-tag{
    font-weight: 300;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(23,113,210);
    padding: 2px;
}

.navbar-right{
    width: 50vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(23,113,210);
}

.navbar-right-inner{
    margin-right: 40px;
    background-color:rgb(23,113,210);
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-right-faq{
    margin-right: 30px;
    background-color:rgb(23,113,210);
    color: white;
    cursor: pointer;
}

.navbar-right-login-btn{
    background-color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    border-radius: 40px;
    padding: 7px;
    color:rgb(23,113,210);
    font-weight: 500;

}